    <html>
        <head>
            <title>Meus carros</title>
        <head>
            <!-- bloco de contexto (linguagem de templates do django) dos carros-->
        {% block content %}
            <body>
                <!-- chamando a variavel cars no contexto-->
                 <!-- loop for do django -->
                  {% for car in cars %}
                        <h3> {{car.brand }} - {{ car.model }} - {{car.factory_year}}</h3>
                  {% endfor %} <!--fim do loop fort-->
               
            </body>
        {% endblock %}
        

    </html>